/node_modules
package-lock.json
package.json
.vite/deps/_metadata.json
.vite/deps/axios.js
.gitignore
.gitignore
.gitignore
.vite/deps/chunk-BHRT4LQR.js
.vite/deps/chunk-RSJERJUL.js
.gitignore
.vite/deps/react_jsx-dev-runtime.js.map
.gitignore
.vite/deps/react-dom_client.js.map
.vite/deps/react.js
.gitignore
.vite/deps/axios.js.map
.vite/deps/chunk-BHRT4LQR.js.map
.gitignore
.vite/deps/react_jsx-dev-runtime.js
.vite/deps/react-dom_client.js
.gitignore
.gitignore
